<main>
  <section>
    <h4>Hi <a href='{{link}}'>{{ name }}</a>,</h4>
    <p class='desc'>
      You are receiving this message because you have requested resetting your
      password on the Back-End Site. Please, follow this link to create a new
      password:
    </p>
    <a href='{{link}}'>Reset password</a>
    <div class='end-bth'>
      <p>
        If you have not requested resetting your password, you can just delete
        this email.
      </p>
      <p class='end'>Thank you for your trust in our solutions,<p>
          Back-End Team</p></p>
    </div>
  </section>
</main>

<style>
  a { color: #1155cc; } .desc { padding-top: 10px; width: 80%; } .end { width:
  20%; padding-top: 10px; } .end-bth { padding-top: 32px; }
</style>